<!-- <form>
    <h1>Cadastrar Medicamentos</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="medicamento.nome" type="text"name="nome"> 

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Descrição</mat-label>
            <textarea matInput [(ngModel)]="medicamento.descricao" type="text"name="descricao"></textarea>  


    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="accent">CRIAR</button>
        <button (click)="CancelParaMedicamento()" class="mat-elevation-z8" mat-stroked-button color="warn">CANCELAR</button>
    </div>

</form> -->