<form>
    <h1>Cadastrar Paciente</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="paciente.nome" type="text" name="nome">

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>CPF</mat-label>
        <textarea matInput [(ngModel)]="paciente.cpf" type="text" name="cpf"></textarea>

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Médico</mat-label>
        <textarea matInput [(ngModel)]="paciente.medico" type="text" name="medico"></textarea>

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Ultima Prescrição</mat-label>
        <textarea matInput [(ngModel)]="paciente.ultimaPrescricao" type="text" name="ultimaPrescricao"></textarea>

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Status</mat-label>
        <textarea matInput [(ngModel)]="paciente.status" type="text" name="status"></textarea>

    </mat-form-field>

    <div class="buttons">
        <button (click)="create()" class="mat-elevation-z8" mat-stroked-button color="accent">CRIAR</button>
        <button (click)="CancelParaPaciente()" class="mat-elevation-z8" mat-stroked-button
            color="warn">CANCELAR</button>
    </div>

</form>