<form>
    <h1>Deletando um paciente</h1>
    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="medico.nome" type="text"name="nome" disabled> 

    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Especialidade</mat-label>
            <textarea matInput [(ngModel)]="medico.especialidade" type="text"name="especialidade" disabled ></textarea>  

    </mat-form-field>

    <div class="buttons">
        <button (click)="delete()"class="mat-elevation-z8" mat-flat-button color="warn">Deletar</button>
        <button (click)="deleteCancel()"class="mat-elevation-z8" mat-stroked-button color="basic">Cancelar</button>
    </div>

</form>